/*#LineChart {
    width: 100%;
    height: 400px;
}


#Pie {
    width: 100%;
    height: 400px;
}*/

#Chart {
    width: 100%;
    height: 600px;
}

#changeChartBtnDiv {
    text-align: center;
}

#changeChartBtn {
    width: 100px;
}

#ChartType {
    min-width: 100%;
    text-align: center;
}



